// CONTAINER
.container {
    z-index: 1;
}

// TITLE GUEST
.title-guest-home {
    text-align: center;
    & h1 {
        font-size: 25px;
        color: $primary_pink;
    }
    & h2 {
        font-size: 16px;
        color: $color_paraghrap;
    }
}

// ALGOLIA SEARCH INPUT
.algolia-search-guest-home {
    margin-top: 40px; 
    margin-bottom: 35px;
    .form-group {
        i {
            display: none;
        }
        .algolia-places > input {
                padding-right: 110px;
                border-radius: 25px;
            }
    }
}

// ALGOLIA ICON AND BUTTON SEARCH
.algolia-search-guest-home {
    .form-group {
        position: relative;
        .algolia-places {
            & .ap-input-icon svg {
                right: 85px;
            }
        }
        .algolia-button-search {
            position: absolute;
            top: 0px;
            right: 0;
            a {
                display: inline-block;
                padding: 7px 26px;
                color: white;
                border-radius: 25px;
                background: $primary_pink;
            }    
        }
    }
}

// APARTMENT LIST CAROUSEL MODIFICATIONS
.wrapper-guest-home {
    padding-top: 50px;
    .carousel {
        .controls-top {
            display: none;
        }
        .carousel-indicators {
            display: none;
        }
        .carousel-inner {  
            @include flex();
            overflow-x: auto;
            .apartments-list-guest {
                @include flex();
                grid-gap: 12px;
                margin: 0 -30px;
                padding: 0 16px;
                padding-bottom: 8px;
                padding-top: 4px;
                scroll-padding: 0 24px;
                .carousel-item {
                    margin: 0px;
                }
            }
        }
    }
}

// APARTMENT LIST
.wrapper-guest-home {
    margin-bottom: 40px;
    padding-top: 50px;
    .apartments-list-guest {
        a:hover {
            text-decoration: none;
        }
        .box-guest {
            @include flex($flex-direction: column);
            position: relative;
            width: 250px;
            height: 261px;
            background-color: $primary_white;
            border-radius: 15px;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, .4);
            .plate-guest  {
                position: absolute;
                span {
                    display: inline-block;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 1;
                    color: $primary_pink;
                    margin: 0.5rem;
                    padding: 0.35rem;
                    background: $white;
                    border-radius: 0.25rem;
                    opacity: 0.9;
                }
            }
            .box-guest-img {
                object-fit: cover;
                flex-shrink: 0;
                width: 100%;
                height: 160px;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }
            .box-guest-body {
                @include flex($flex-direction: column);
                padding: 10px;
                .box-guest-title {
                    color: grey;
                    font-weight: bold;
                }
                .box-guest-text {
                    color: #b5a3a3;
                    i {
                        color: $primary_gold;
                    }
                }
            }
        }
    }
}

// BUTTON
.button-guest {
    margin-top: 1.5rem;
    text-align: center;
    & a {
        color:white;
        padding: 10px 50px;
        display: inline-block;
        border-radius: 25px;
        background: $primary_pink;
    }
    & a:hover {
        text-decoration: none;
    }
}

// CAROUSEL DISPLAY FIX
@media (max-width: 991px) {
    .carousel-item.carousel-custom,
    .carousel-item.carousel-custom.active {
        display: flex;
    }
}

@media (min-width: 576px) {
    // TITLE GUEST
    .title-guest-home {
        & h1 {
            font-size: 2rem;
            color: $primary_white;
        }
        & h2 {
            font-size: 16px;
            color: $primary_white;
        }
        text-shadow: 0px 2px 8px rgba(0,0,0,0.8);
    }

    // BUTTON GUEST
    .wrapper-guest-home {
        margin-bottom: 0px;
        .button-guest {
            display: none;
        }
    }
    
    // ALGOLI SEARCH FORM
    .algolia-search-guest-home {
        margin-bottom: 40px;
        .form-group {
            position: relative;
            i {
                display: block;
                position: absolute;
                left: 16px;
                top: 17px;
                font-size: initial;
                color: $search_bar_icon;
                z-index: 3;
            }
            // ALGOLIA BUTTON SEARCH
            .algolia-button-search {
                position: absolute;
                top: 5px;
                right: 10px;
                z-index: 4;
                & a {
                    display: inline-block;
                    padding: 10px 30px 10px 30px;
                    color: white;
                    border-radius: 25px;
                    background: $primary_pink;
                }
                & a:hover {
                    text-decoration: none;
                }        
            }    
            .algolia-places {
                & input:first-child {
                    padding: 23px 125px 23px 40px;
                }
                & .ap-input-icon svg {
                    right: 100px;
                }
            }
        }
    }  

    // BACKGROUND
    .wrapper-guest-home {
        @include flex($align:center, $just-content:center, $flex-direction:column);
        height: 100%;
        position: relative;
        background-position: center;
        background-size: cover;
        background-image: url(../../../../public/img/bg-home-guest.jpeg);
        padding: 70px 0px 30px 0px;    
    }
    // LAYOVER
    .layover-guest-home {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.1) 100%);    
    }    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    // TITLE GUEST
    .title-guest-home {
        & h2 {
            font-size: 20px;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    // TITLE GUEST
    .title-guest-home {
        text-align: center;
        & h1 {
            font-size: 2.875rem;
        }
        & h2 {
            font-size: 1.5rem;
        }
    }

    // FORM GROUP
    .algolia-search-guest-home {
        .form-group {
            margin: 0 64px;
        }
    }

    // APARTMENT LIST CAROUSEL MODIFICATIONS
    .wrapper-guest-home {
        padding-top: 50px;
        .carousel {
            .controls-top {
                display: block;
                a i {
                    font-size: 36px;
                    // color: $primary_pink;
                    color: $primary_white;
                }
                a:nth-child(1) {
                    position: absolute;
                    top: 50%;
                    left: -35px;
                }
                a:nth-child(2) {
                    position: absolute;
                    top: 50%;
                    right: -35px;
                }
            }
            .carousel-indicators {
                @include flex($just-content: center);
                bottom: -45px;
            }
            .carousel-inner {  
                overflow: hidden;
                .apartments-list-guest {
                    width: 100%;
                    grid-gap: 0px;
                    margin: 0px;
                    padding: 0px;
                    padding-bottom: 0px;
                    padding-top: 0px;
                    scroll-padding: 0px;
                    .carousel-item {
                        margin-right: -100%;
                        .col-lg-3 {
                            margin-right: 0px;
                            float: left;
                            .box-guest {
                                width: 210px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .wrapper-guest-home {
        .carousel {
            .carousel-inner {  
                .apartments-list-guest {
                    .carousel-item {
                        .col-lg-3 {
                            .box-guest {
                                width: 250px;
                            }
                        }
                    }
                }
            }
        }
    }
}