.alerts-show {
    font-size: 16px;
    text-align: center;
}

// Admin
.dashboard-show-container {
    width: 100%;   
    background-color: $primary_pink;
    margin-top: 0px;
    padding-bottom: 20px;
    .dashboard-show-wrapper {
        .dashboard-admin.dashboard-show {
            .option-card-show {
                @include flex();
                flex-wrap: wrap;

                span {
                    display: none;
                }

                i {
                    font-size: 28px;
                    margin-right: 10px;
                }  

                a {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-basis: calc(100%/6);
                    background-color: $white;
                    padding: 10px 20px;
                    height: 80px;
                    border-radius: 10px;
                    justify-content: center;
                    align-items: center;
                    font-weight: 500;
                    font-size: 0.85rem;
                    color: $primary_pink;
                }

                a:not(:last-child) {
                    margin-right: 10px;
                }
                
                a:hover {
                    transition: .3s;
                    opacity: .7;
                }
            }
        }
    }
}

.wrap-content {
    .carousel-inner {

        .plate-guest {
            position: absolute;
            z-index: 2;
            span {
                display: inline-block;
                font-size: 14px;
                font-weight: 600;
                line-height: 1;
                color: #B34262;
                margin: 0.5rem;
                padding: 0.35rem;
                background: #fff;
                border-radius: 0.25rem;
                opacity: 0.9;
            }
        }

        .carousel-item {
            img {
                object-fit: cover;
                max-height: 250px;
            }
        }
    }
    .wrap-box {
        padding: 10px 0;
        background-color: $primary_white;
        // wrap title
        .wrap-box-title {
            @include flex(center, $just-content: space-between);
            position: relative;
        }

        .wrap-title {
            max-width: calc(100%/3*2);
            padding-right: 3%;
        }

        h5.show-title {
            font-weight: 700 !important;
        }

        .wrap-title::after {
            content: "";
            position: absolute;
            width: 1px;
            height: 40px;
            top: 60%;
            right: 30%;
            transform: translate(-50%, -70%);
            background-color: #C6C6C6;
        }
        // wrap rating
        .wrap-rating {
            @include flex(end, $flex-direction: column);
        }

    }

    #show-map {
        height: 300px;
    }

    // wrap-description + wrap service 
    .wrap-description-box,
    .wrap-service-box {
        background-color: $primary_white;
        .wrap-box-click {
            padding: 15px 0;
            background-color: $primary_white;
            filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
            .container {
                .box-title {
                    @include flex(center, $just-content: space-between);
                    h5 {
                        margin-bottom: 0px;
                    }
                    i {
                        font-size: 20px;
                        color: $primary_pink;
                    }
                }
            }
        }

        .description-dropdown,
        .service-dropdown {
            .container {
                .box-details {
                    padding: 20px 0;
                    p {
                        @include font_options($color: $color_paraghrap);
                    }

                    // description
                    .details-apartment {
                        @include flex(center);
                        h5 {
                            margin-right: 20px;
                        }
                    }

                    // service
                    .wrap-service {
                        @include flex(center);
                        flex-wrap: wrap;
                        .service-badge {
                            margin-right: 10px;
                            padding: 10px;
                            border-radius: 10px;
                            background-color: $primary_pink;
                            @include font_options($color: $primary_white);
                            i {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    // wrap reviews
    .wrap-reviews-box {
        position: relative;
        .wrap-box-click {
            padding: 15px 0;
            background-color: $primary_white;
            filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
            .container {
                .box-title {
                    @include flex(center, $just-content: space-between);
                    h5 {
                        margin-bottom: 0px;
                    }
                    i {
                        font-size: 20px;
                        color: $primary_pink;
                    }
                }
            }
        }

        .reviews-dropdown {
            .box-details {
                padding: 20px 0;
                // reviews
                .wrap-reviews {
                    padding: 20px;
                    .card-reviews {
                        margin-bottom: 20px;
                        padding: 15px 20px;
                        border-radius: 10px;
                        background-color: $primary_white;
                        filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4)); 
                        .reviews-title {
                            @include flex($just-content: space-between);
                        }
                        .reviews-rating {
                            @include flex($just-content: space-between);
                        }
                    }

                    .wrap-box-reviews {
                        @include flex(center, $flex-direction: column);
                        .button-reviews {
                            @include flex($just-content: center);
                            margin-bottom: 20px;
                            button {
                                padding: 10px;
                                border-radius: 10px;
                                background-color: $primary_pink;
                                color: $primary_white;
                                border: none;
                            }
                        }
    
                        #box-reviews {
                            // max-width: 345px;
                            width: 100%;
                            margin-bottom: 20px;
                            padding: 15px 20px;
                            border-radius: 10px;
                            background-color: $primary_white;
                            filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));

                            form {
                                input,
                                textarea,
                                select {
                                    color: #bbb;  
                                    border: none;
                                    margin-bottom:  25px; 
                                    border-radius: 15px;
                                    box-shadow: 0px 2px 8px rgba( 0, 0, 0, .15);
                                }

                                select:focus, 
                                textarea:focus,
                                input:focus {
                                    color: #495057;
                                    background-color: #fff;
                                    border-color: #b0b0b0;
                                    outline: 0;
                                    box-shadow: 0 0 0 0.2rem rgba(112, 112, 112, 0.25);
                                }

                                .submit-magenta {
                                    text-decoration: none;
                                    padding: 10px;
                                    border-radius: 10px;
                                    background-color: $primary_pink;
                                    color: $primary_white;
                                    border: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    

    // request info

    .wrap-request {
        background-color: $primary_pink;
        .container {
            .title {
                padding-top: 30px;
                @include flex($just-content: center);
                h2 {
                    @include font_options($color: $primary_white);
                }
            }
            .wrap-box-info {
                padding: 20px;
                .info-form {
                    margin-bottom: 30px;
                    padding: 15px 20px;
                    border-radius: 10px;
                    background-color: $primary_white;
                    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4)); 

                    form {
                        input,
                        textarea,
                        select {
                            color: #bbb;  
                            border: none;
                            margin-bottom:  25px; 
                            border-radius: 15px;
                            box-shadow: 0px 2px 8px rgba( 0, 0, 0, .15);
                            
                        }

                        select:focus, 
                        textarea:focus,
                        input:focus {
                            color: #495057;
                            background-color: #fff;
                            border-color: #b0b0b0;
                            outline: 0;
                            box-shadow: 0 0 0 0.2rem rgba(112, 112, 112, 0.25);
                        }

                        .submit-magenta {
                            text-decoration: none;
                            padding: 10px;
                            border-radius: 10px;
                            background-color: $primary_pink;
                            color: $primary_white;
                            border: none;
                        }
                    }
                }
            }
        }
    }

    // desktop
    .wrap-img-desktop {
        display: none;
        padding: 20px 0;
        .container {
            .wrap-img-apartment {
                @include flex;
                .wrap-img {
                    @include flex($just-content: space-between);
                    flex-wrap: wrap;
                    img {
                        margin-left: 10px;
                        margin-bottom: 10px;
                        &:nth-child(3), &:nth-child(4) {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    // card apartment
    .wrap-apartment-desktop {
        display: none;
        margin-bottom: 20px;
        .container{
            .wrap-card-info {
                @include flex($just-content: space-between);
                margin-bottom: 20px;
                // padding-top: 20px;
                // border-top: 2px solid $footer_separetor;
                // border-top: 1px solid #ddd;
                .apartment-card {
                    @include flex($flex-direction: column);
                    width: 72%;
                    min-height: 300px;
                    padding: 15px;
                    border-radius: 10px;
                    background-color: $primary_white;
                    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4)); 

                    p {
                        flex-grow: 1;
                        @include font_options($color: $color_paraghrap);
                    }

                    .details-apartment {
                        margin-bottom: 16px;
                        @include flex(center);
                        h5 {
                            margin-right: 20px;
                        }
                    }

                    .wrap-service {
                        margin-bottom: 16px;
                        @include flex(center);
                        flex-wrap: wrap;
                        .service-badge {
                            margin-right: 10px;
                            padding: 10px;
                            border-radius: 10px;
                            background-color: $primary_pink;
                            @include font_options($color: $primary_white);
                            i {
                                margin-right: 10px;
                            }
                        }
                    }

                    .wrap-rating {
                        @include flex($just-content: flex-start);
                        width: 100%;
                        & :nth-child(2) {
                            margin-left: 8px;
                        }
                    }
                }

                .info-card {
                    width: 28%;
                    min-height: 300px;
                    margin-left: 10px;
                    padding: 15px;
                    border-radius: 10px;
                    background-color: $primary_white;
                    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
                    .title {
                        @include flex($just-content: center);
                        h2 {
                            @include font_options($color: $text_color);
                        }
                    }
                    .wrap-box-info {
                        padding: 10px;
                    }
                }
            }
        }

        .wrap-reviews-desktop {
            width: 71%;
            margin-bottom: 20px;
            padding: 15px;
            border-radius: 10px;
            background-color: $primary_white;
            filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
            .wrap-reviews {
                
                .card-reviews {
                    margin-bottom: 20px;
                    border-bottom: 1px solid #c6c6c6;
                    &:last-child {
                        margin-bottom: 0;
                        border-bottom: none;
                    }

                    .reviews-rating {
                        @include flex;
                        h5 {
                            @include font_options($weight: 400);
                            font-style: italic;
                            margin-right: 20px;
                        }
                    }
                }
            }
        }

        .wrap-reviews-form {
            @include flex(center, $flex-direction: column);
            width: 71%;

            .button-reviews {
                @include flex($just-content: center);
                margin-bottom: 20px;
                button {
                    padding: 10px;
                    border-radius: 10px;
                    background-color: $primary_pink;
                    color: $primary_white;
                    border: none;
                }
            }
        }
    }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    
    // Admin
    .dashboard-show-container {
        .dashboard-show-wrapper {
            .dashboard-admin.dashboard-show {
                .option-card-show {
                    @include flex();
                    flex-wrap: wrap;
                    i {
                        font-size: 28px;
                        margin-right: 10px;
                    }  

                    span {
                        display: inline;
                    }

                    a {
                        flex-basis: calc(100%/4);
                    }
                }
            }
        }
    }    
    
    .wrap-content {
        #carousel {
            display: none;
        }

        // desktop
        .wrap-img-desktop {
            display: block;
            .plate-guest {
                position: absolute;
                span {
                    display: inline-block;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 1;
                    color: #B34262;
                    margin: 0.5rem;
                    padding: 0.35rem;
                    background: #fff;
                    border-radius: 0.25rem;
                    opacity: 0.9;
                }
            }
            .container {
                .wrap-img-apartment {
                    .wrap-featured-img {
                        img {
                            width: 100%;
                            height: 230px;
                            object-fit: cover;
                        }
                    }
                    .wrap-img {
                        img {
                            width: 162.5px;
                            height: 109.967px;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

    // admin
    .dashboard-show-container {
        .dashboard-show-wrapper {
            .dashboard-admin.dashboard-show {
                .option-card-show {
                    @include flex();
                    flex-wrap: nowrap;
                    i {
                        font-size: 24px;
                    }  
                }
            }
        }
    }

    .wrap-content {
        .wrap-description-box,
        .wrap-service-box,
        .wrap-reviews-box,
        .wrap-request,
        .wrap-box  {
            display: none;
        }

        .wrap-apartment-desktop { 
            display: block;
        }

        // desktop
        .wrap-img-desktop {
            .container {
                .wrap-img-apartment {
                    .wrap-featured-img {
                        img {
                            width: 100%;
                            height: 310px;
                            object-fit: cover;
                        }
                    }
                    .wrap-img {
                        img {
                            width: 222.5px;
                            height: 150.067px;
                            object-fit: cover;
                        }
                    }
                }
            }
        }

        .wrap-apartment-desktop { 
            display: block;

            .container{
                @include flex();

                padding-top: 20px;
                border-top: 1px solid #ddd;

                .col-data-apartment {
                    margin-right: 10px;
                    .wrap-card-info {
                        @include flex($just-content: space-between);

                        .apartment-card {
                            width: 100%;
                        }
                    }
                    .wrap-reviews-desktop {
                        width: 100%;
                    }

                    .wrap-reviews-form {
                        width: 100%;
            
                        .button-reviews {
                            @include flex($just-content: center);
                            margin-bottom: 20px;
                            button {
                                padding: 10px;
                                border-radius: 10px;
                                background-color: $primary_pink;
                                color: $primary_white;
                                border: none;
                            }
                        }
            
                        #box-reviews-desktop {
                            width: 100%;
                            margin-bottom: 20px;
                            padding: 15px 20px;
                            border-radius: 10px;
                            background-color: $primary_white;
                            filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));

                            form {
                                .name {
                                    @include flex($just-content: space-between);
                                    margin: 25px 0;
                                    div {
                                        flex-basis: calc(100%/2 - 10px);
                                        input {
                                            margin-bottom: 0;
                                        }
                                    }
                                }

                                input,
                                textarea,
                                select {
                                    color: #bbb;  
                                    border: none;
                                    margin-bottom:  25px; 
                                    border-radius: 15px;
                                    box-shadow: 0px 2px 8px rgba( 0, 0, 0, .15);
                                }

                                select:focus, 
                                textarea:focus,
                                input:focus {
                                    color: #495057;
                                    background-color: #fff;
                                    border-color: #b0b0b0;
                                    outline: 0;
                                    box-shadow: 0 0 0 0.2rem rgba(112, 112, 112, 0.25);
                                }

                                .submit-magenta {
                                    text-decoration: none;
                                    padding: 10px;
                                    border-radius: 10px;
                                    background-color: $primary_pink;
                                    color: $primary_white;
                                    border: none;
                                }
                            }
                        }
                    }
                }

                .col-sticky-form {
                    position: -webkit-sticky; /* Safari */
                    position: sticky;
                    top: 80px;
                    .info-card {
                        width: 267px;
                        padding: 15px;
                        border-radius: 10px;
                        background-color: $primary_white;
                        filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
                        .title {
                            @include flex($just-content: center);
                            h2 {
                                @include font_options($color: $text_color);
                            }
                        }
                        .wrap-box-info {
                            padding: 10px;

                            form {
                                input,
                                textarea,
                                select {
                                    color: #bbb;  
                                    border: none;
                                    margin-bottom:  25px; 
                                    border-radius: 15px;
                                    box-shadow: 0px 2px 8px rgba( 0, 0, 0, .15);   
                                }
        
                                select:focus, 
                                textarea:focus,
                                input:focus {
                                    color: #495057;
                                    background-color: #fff;
                                    border-color: #b0b0b0;
                                    outline: 0;
                                    box-shadow: 0 0 0 0.2rem rgba(112, 112, 112, 0.25);
                                }
                                
                                .submit-magenta {
                                    text-decoration: none;
                                    padding: 10px;
                                    border-radius: 10px;
                                    background-color: $primary_pink;
                                    color: $primary_white;
                                    border: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

    // admin
    .dashboard-show-container {
        width: 100%;   
        background-color: $primary_pink;
        margin-top: 0px;
        padding-bottom: 20px;
        .dashboard-show-wrapper {
            .dashboard-admin.dashboard-show {
                .option-card-show {
                    @include flex();
                    flex-wrap: nowrap;
                    i {
                        font-size: 28px;
                        margin-right: 10px;
                    }  

                    a {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-basis: calc(100%/6);
                        background-color: $white;
                        padding: 10px 20px;
                        height: 80px;
                        border-radius: 10px;
                        justify-content: center;
                        align-items: center;
                        font-weight: 500;
                        font-size: 0.85rem;
                        color: $primary_pink;
                    }

                    a:not(:last-child) {
                        margin-right: 10px;
                    }
                    
                    a:hover {
                        transition: .3s;
                        opacity: .7;
                    }
                }
            }
        }
    }

    .alerts-show {
        margin-top: 56px;
    }

    .wrap-content {
        margin-top: 58px;

        // desktop
        .wrap-img-desktop {
            .container {
                .wrap-img-apartment {
                    .wrap-featured-img {
                        img {
                            width: 100%;
                            height: 370px;
                            object-fit: cover;
                        }
                    }
                    .wrap-img {
                        img {
                            width: 267.5px;
                            height: 180.015px;
                            object-fit: cover;
                        }
                    }
                }
            }
        }

        .wrap-apartment-desktop {
            .container {
                .col-data-apartment {
                    margin-right: 10px;
                    width: 100%;
                }
            }
        }
    }
}