//// COMMONS

body { 
    color: $text_color;
}

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;

    & main:first-of-type {
        flex-grow: 1
    }
}

.hidden {
    display: none
}

.active {
    display: block;
}

a {
    text-decoration: none;
}

.button-common {
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: $primary_pink;
}

//// MIXIN

@mixin font_options ($size: false, $color: false, $weight: false, $lh: false, $ls: false) {
        
    // font-size
    @if $size {
        font-size: $size;
    }
    // color
    @if $color {
        color: $color;
    }
    // font-weight
    @if $weight {
        font-weight: $weight;
    }
    // line-height
    @if $lh {
        line-height: $lh;
    }
    // letter-spacing
    @if $ls {
        letter-spacing: $ls;
    }
}

@mixin flex($align:flex-start, $just-content:flex-start, $flex-direction:row) {

    display: flex;
    align-items: $align;
    justify-content: $just-content;
    flex-direction: $flex-direction;

}

@mixin list_style {
    margin: 0;
    padding: 0;
    list-style: none;  
}


