.main-navbar {
    
    .wrap-nav {

        padding: 10px 0px;
        @include flex(center, space-between);
        img { height: 30px; }
        
        .nav-action-guest {
            
            a { color: $text_color;}

            & a:nth-child(2) {

                display: none;

            }

        }
        .nav-action-admin {
            
            i { font-size: 20px; }
            @include flex(center, flex-end);
            cursor: pointer;

            .menu-large {

                display:none;

            }

        }
        
    }

    .sub-menu {

        padding: 20px;

        div {

            padding: 10px;

            a { 
                padding: 10px;
                border-radius: 25px;
                transition: background .2s;
            }
        }

        div:hover a {
            color: white;
            background-color: $primary_pink;
        }
        
    }


}

@media (min-width: 576px) {
    
    .main-navbar {
    
        .wrap-nav {
    
            .nav-action-guest {

                & a:nth-child(1) {

                    margin-right: 10px;
    
                }    
    
                & a:nth-child(2) {
    
                    color:white;
                    padding: 10px;
                    display: inline-block;
                    border-radius: 25px;
                    background: $primary_pink;

                }
    
            }

        }
    
    }
}

@media (min-width: 1200px) {

    .main-navbar {
    
        position: fixed;
        width: 100%;
        z-index: 3;
        background-color: $grey_header;
        
        .wrap-nav {

            .mobile-user,
            .menu-mobile { 
                display:none; 
                
            }

            .nav-action-admin {
                
                .menu-large {
    
                    display: block;

                    ul { 
                        margin: 0;
                        display: flex;
                        align-items: center;

                        li {
                            
                            list-style: none;
                            margin-left: 15px;

                        }

                        .desktop-user {

                            color: #ffffff;
                            font-weight: bold;
                            border-radius: 25px;
                            background: $primary_pink;

                        }

                    }

                }
    
            }
        }
    
    }
}
