//// BOOTSTRAP

// Body
$body-bg: #F2F2F2;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 0.75rem;
// $line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//////////// BOOLBNB VARIABLES

///// Colors

// General color
$primary : #707070;
// $primary_color : #F58D9D;
// $primary_pink : #F58D9D;
$primary_color : #B34262;
$primary_pink : #B34262;
$primary_white: #ffffff;
$primary_gold: #ffd700;
$text_color: #707070;
$grey_bg: #F2F2F2;
$light_grey: #e4e0e0;
$grey_header: rgba(242, 242, 242, .7);
$title_color: #404040;
$dashbord_grey: #858585;
$dashbord_lightgrey: #cebfbf;
$color_paraghrap: #707070; 
$search_bar_icon: #cfcfcf;
$search_icon: #B2B2B2;
$separator: #C6C6C6;
$header_separator: #606060;
$footer_separetor: #C6C6C6;
$footer_icon_color: #404040;

// Desktop color
$sponsored_section_color: rgba( 165, 162, 162, .5 );  

// Mobile color 
$mobile_bg : rgba( 255, 255, 255, .5 );
