//// BOOTSTRAP

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


//////////// BOOLBNB VARIABLES

///// Colors

// General color
$primary : #707070;
$primary_pink : #F58D9D;
$text_color: #707070;
$grey_bg: #F2F2F2;
$title_color: #707070; 
$search_icon: #B2B2B2;
$header_separator: #606060;
$footer_separetor: #C6C6C6;
$footer_icon_color: #404040;

// Desktop color
$sponsored_section_color: rgba( 165, 162, 162, .5 );  

// Mobile color 
$mobile_bg : rgba( 255, 255, 255, .5 );
