
.container {
    .wrap-stats-box {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px;
        padding-bottom: 40px;
        border-radius: 10px;
        background-color: $primary_white;
        filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
        .wrap-stats {
            margin-top: 20px;
            margin-bottom: 40px;
            canvas {
                
                margin-bottom: 20px;
            }
        }

        a.button-back-show {
            margin-bottom: 80px;
            padding: 20px;
            border-radius: 10px;
            background-color: $primary_pink;
            color: $primary_white;
            border: none;
            text-decoration: none;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #app{
        .container {
            .wrap-stats-box {
                .wrap-stats {
                    canvas {
                        max-width: 100%;
                        max-height: auto;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }   
}

@media (min-width: 992px) { 
    
}

@media (min-width: 1200px) { 

    #app{
        .container {
            .wrap-stats-box {
                margin-top: 74px;
                .wrap-stats {
                    canvas {
                        max-width: 500px;
                        max-height: 500px;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    } 
}